body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}
.WebStudio {
  font-family: 'Raleway';
  color: #212121;
  text-decoration: none;
  font-weight: 700;
  line-height: 31px;
  font-size: 26px;
  letter-spacing: 0.03em;
}
.wstudio {
  color: #2196f3;
}
.linkrest {
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.viceversa :hover {
  color: #2196f3;
}
.email,
.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.top {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #212121;
}
.botoonindex {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border: 4px;
}
.lorem {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}
.loremtxt {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.resth {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}
.john {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
.johntxt {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
.fivebutton {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  border: 4px;
}
.graf {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.graftxt {
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
