body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

.WebStudio {
  font-family: 'Raleway';
  color: #212121;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.19;
  font-size: 1.62rem;
  letter-spacing: 0.03rem;
}

.wstudio {
  color: #2196f3;
}

.linkRest {
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.87rem;
  line-height: 1.14;
  letter-spacing: 0.02rem;
}

.viceVersa :hover {
  color: #2196f3;
}

.viceVersa :focus {
  background-color: #2196f3;
  outline: none;
}

.email-tel:hover {
  color: #2196f3;
}

.email-tel:focus {
  background-color: #2196f3;
  outline: none;
}

.email-tel {
  font-weight: 500;
  font-size: 0.87rem;
  line-height: 1.14;
  letter-spacing: 0.02rem;
  color: #757575;
}

.top {
  font-weight: 900;
  font-size: 2.75rem;
  line-height: 3.1;
  color: #212121;
}

.botoonIndex {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.87;
  letter-spacing: 0.06rem;
  border: 4px;
  cursor: pointer;
}

.botoonIndex:hover {
  color: #ffffff;
  background: #2196f3;
}

.botoonIndex:focus {
  background-color: #2196f3;
  outline: none;
}

.articleTitle {
  font-weight: 700;
  font-size: 0.87rem;
  line-height: 1.14;
  letter-spacing: 0.03rem;
}

.articleTitleTxt {
  font-size: 0.87rem;
  line-height: 1.71;
  letter-spacing: 0.03rem;
  color: #757575;
}

.resthHtwo {
  font-weight: 700;
  font-size: 2.56rem;
  line-height: 1.16;
  letter-spacing: 0.03rem;
  color: #212121;
}

.articleTitle {
  font-weight: 500;
  font-size: 1.11rem;
  line-height: 1.18;
  letter-spacing: 0.03rem;
}

.articleTitleTxt {
  font-size: 1rem;
  line-height: 1.18;
  letter-spacing: 0.03rem;
}

.fiveButton {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.62;
  letter-spacing: 0.03rem;
  border: 4px;
  background: #f5f4fa;
  color: #212121;
  cursor: pointer;
}

.fiveButton:hover {
  color: #ffffff;
  background: #2196f3;
}

.fiveButton:focus {
  background-color: #2196f3;
  outline: none;
}

.graf {
  font-weight: 700;
  font-size: 1.12rem;
  line-height: 2.11;
  letter-spacing: 0.06rem;
}

.grafTxt {
  font-size: 1rem;
  line-height: 1.87;
  color: #757575;
}
