.body {
  font-family: 'Roboto';
}

.logoone {
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  margin-top: 24px;
  margin-left: 215px;
  max-width: 145px;
  letter-spacing: 0.03em;
}
.logotwo {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-top: 32px;
  margin-left: 93px;
  max-width: 53px;
  letter-spacing: 0.02em;
}
.logothre {
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-top: 32px;
  margin-left: 46px;
  max-width: 58px;
  letter-spacing: 0.02em;
}
.logofour {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-top: 32px;
  margin-left: 46px;
  max-width: 58px;
  letter-spacing: 0.02em;
}
.mail {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-top: 32px;
  margin-left: 364px;
  max-width: 58px;
}
.tel {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-top: 32px;
  margin-left: 50px;
  max-width: 58px;
}
.buttonone {
  width: 121px;
  height: 38px;
  margin-left: 510px;
  margin-top: 174px;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.textbuttonone {
  text-align: center;
  top: 180px;
  font-weight: 532;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.buttontwo {
  width: 93px;
  height: 38px;
  margin-left: 8px;
  margin-top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
}
.textbuttontwo {
  text-align: center;
  top: 180px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #212121;
}
.buttonthree {
  width: 114px;
  height: 38px;
  margin-left: 8px;
  margin-top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
}
.textbuttonthree {
  text-align: center;
  top: 180px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #212121;
}
.buttonfour {
  width: 91px;
  height: 38px;
  margin-left: 8px;
  margin-top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
}
.textbuttonfour {
  text-align: center;
  top: 180px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #212121;
}
.buttonfive {
  width: 121px;
  height: 38px;
  margin-left: 8px;
  margin-top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
}
.textbuttonfive {
  text-align: center;
  top: 180px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #212121;
}
.imgoneleft {
  font-weight: 370px;
  line-height: 294px;
  margin-left: 215px;
  margin-top: 262px;
}
.imgtwoleft {
  font-weight: 370px;
  line-height: 696px;
  margin-left: 215px;
  margin-top: 30px;
}
.imgthreeleft {
  font-weight: 370px;
  line-height: 1130px;
  margin-left: 215px;
  margin-top: 30px;
}
.imgonecenter {
  font-weight: 370px;
  line-height: 294px;
  margin-left: 615px;
  margin-top: 262px;
}
.imgtwocenter {
  font-weight: 370px;
  line-height: 294px;
  margin-left: 615px;
  margin-top: 30px;
}

.imgthreecenter {
  font-weight: 370px;
  line-height: 294px;
  margin-left: 615px;
  margin-top: 30px;
}
